<script id="chrome-shell-chat-box-template" type="text/html">
  <div class="chrome-shell-chat-popup-container">
    <div class="chrome-shell-chats-window-flex-container">

      <!-- Header Begins -->
      <div class="chrome-shell-chat-window-header-container">
        <div class="chrome-shell-chat-window-header">
          <img class="chrome-shell-square-image" src="<%= channelImageSrc %>">
          <div class="chrome-shell-header-title">
            <%= channelTitle %>
          </div>
        </div>
      </div>

      <!-- Chat Box -->
      <div class="chrome-shell-chat-box-container">

      </div>

      <!-- Footer -->
      <div class="chrome-shell-chat-input-container">
        <div class="chrome-shell-chat-input-wrapper">
          <textarea class="chrome-shell-chat-input">

          </textarea>
        </div>
      </div>
    </div>

  </div>


</script>